# Replace `elasticbeanstalk-eu-central-1-xxxxxxxxxxxx` with the bucket that AWS created
# when you created your first Elastic Beanstalk environment.

# Make sure that the IAM Role for the EC2 Instance set in the Elastic Beanstalk configuration
# has attached the `AWSElasticBeanstalkFullAccess` policy.

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: 's3'
          buckets: ['elasticbeanstalk-us-east-1-661556210720']
          roleName:
            'Fn::GetOptionSetting':
              Namespace: 'aws:autoscaling:launchconfiguration'
              OptionName: 'IamInstanceProfile'
              DefaultValue: 'aws-elasticbeanstalk-ec2-role'

# From the created bucket, point to the .env file which you want to
# copy to this app during deployment.

# The file will be copied first in /tmp/.env, then moved to the app
# in the deployment process.

files:
  '/tmp/.env':
    mode: '000777'
    owner: root
    group: root
    authentication: 'S3Auth'
    # AWSEBEnvironmentName is elasticbeanstalk environment value that must be set first to point the location of the .env file like that "/Production-Controller/Backend/.env"
    source: 'https://hmada15-codepipeline.s3.eu-central-1.amazonaws.com/Env/.env.`{"Ref": "AWSEBEnvironmentName" }`'
